<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>

  <packageSources>
    <add key="nexus-host" value="https://registry.nntc.pro/repository/nuget-hosted/" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>

<packageSourceCredentials>
    <nexus-host>
        <add key="Username" value="nuget" />
        <add key="ClearTextPassword" value="#EDCvfr4" />
    </nexus-host>
</packageSourceCredentials>


</configuration>
